body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.role-btn {
  margin: 15px 0;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #f4c430;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.role-btn:hover {
  background: #e0b000;
  transform: scale(1.05);
}

.image-section {
  width: 60%;
}

.image-section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  background: rgb(46, 36, 36);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-form button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #f4c430;
  cursor: pointer;
  font-weight: bold;
}